.header {
  width: 100%;
  padding: 1.5rem 2rem;
  transition: 0.3s ease;
  background-color: var(--header-bg-color);
}

.headerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

/* Navigation */
.navLeft {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.navLink {
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.navLink:hover {
  color: var(--text-primary);
  transform: translateY(-3px);
}

/* Collections dropdown menu */
.dropdown {
  position: relative;
}

.dropdownMenu {
  top: 100%;
  left: -15px;
  z-index: 1000;
  padding: 1rem;
  min-width: 275px;
  position: absolute;
  background-color: var(--bg-color);
}

.dropdownMenu li {
  cursor: pointer;
  font-weight: 300;
  font-size: 0.875rem;
  transition: 0.3s ease;
  padding: 0.25rem 0rem;
  color: var(--text-secondary);
}

.dropdownMenu li:hover {
  color: var(--text-primary);
  transform: translateX(3px);
}

/* Icons */
.navRight {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.iconButton {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
  color: var(--text-secondary);
}

.iconButton:hover {
  color: var(--text-primary);
  transform: translateY(-3px);
}

.iconButton svg {
  width: 1.375rem;
  height: 1.375rem;
  stroke-width: 1.5;
  transition: 0.3s ease;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .header {
    padding: 1.25rem 1.75rem;
  }
}

@media (max-width: 625px) {
  .navLeft {
    gap: 0.875rem;
  }

  .navLink {
    font-size: 0.75rem;
  }

  .navRight {
    gap: 0.875rem;
  }

  .iconButton svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* Hamburger menu */
.hamburger {
  display: none;
  transition: 0.3s ease;
}

.hamburger svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5;
  color: var(--text-secondary);
}

.hamburger:hover {
  transform: scale(1.25);
  color: var(--text-primary);
}

/* Hide desktop layout and show mobile layout */
@media (max-width: 560px) {
  /* Hide navigation links */
  .navLeft {
    display: none;
  }

  /* Show hamburger menu */
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navRight {
    gap: 0.875rem;
  }

  .iconButton svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .header {
    padding: 1rem 1.5rem;
  }
}

/* Menu sidebar */
.sidebarOverlay {
  inset: 0;
  z-index: 9999;
  display: flex;
  position: fixed;
  background: hsla(0, 0%, 0%, 0.75);
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  max-width: 300px;
  overflow-y: auto;
  position: relative;
  flex-direction: column;
  background-color: var(--header-bg-color);
}

/* Sidebar close button */
.sidebarClose {
  top: 1rem;
  right: 1rem;
  display: flex;
  position: absolute;
  font-size: 1.25rem;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
  color: var(--text-secondary);
}

.sidebarClose:hover {
  transform: scale(1.25);
  color: var(--text-primary);
}

/* Sidebar navigation */
.sidebarNav {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.sidebarNavLink {
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
  transition: 0.3s ease;
  padding: 0.375rem 0rem;
  color: var(--text-secondary);
  justify-content: space-between;
}

.sidebarNavLink:hover {
  color: var(--text-primary);
  transform: translateX(3px);
}

/* Collections dropdown menu */
.sidebarDropdown {
  display: flex;
  flex-direction: column;
}

.sidebarDropdownMenu {
  display: flex;
  margin-left: 0.375rem;
  flex-direction: column;
  margin-bottom: 0.375rem;
}

.sidebarDropdownMenu li {
  cursor: pointer;
  font-weight: 200;
  font-size: 0.875rem;
  padding: 0.25rem 0rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.sidebarDropdownMenu li:hover {
  color: var(--text-primary);
  transform: translateX(3px);
}

/* Sidebar separator */
.sidebarSeparator {
  height: 1px;
  margin: 0.375rem 0rem;
  background-color: var(--text-primary);
}
