.accountContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: center;
}

/* Login section & Create account section */
.loginSection,
.createSection {
  gap: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Divider */
.divider {
  width: 1px;
  margin: 0rem 2rem;
  align-self: stretch;
  background-color: var(--text-primary);
}

.sectionTitle {
  font-size: 2.5rem;
  color: var(--text-primary);
}

/* Create account title wrapper */
.titleWrapper {
  gap: 0.75rem;
  display: flex;
  position: relative;
  align-items: center;
}

/* Info icon */
.infoIconWrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.infoIcon {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.infoIconWrapper:hover .infoIcon {
  color: var(--text-primary);
}

/* Tooltip */
.tooltip {
  left: 0;
  top: 100%;
  opacity: 0;
  padding: 1rem;
  z-index: 1000;
  min-width: 300px;
  max-width: 400px;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 300;
  position: absolute;
  font-size: 0.875rem;
  pointer-events: none;
  transition: 0.3s ease;
  background-color: var(--bg-color);
  border: 1px solid var(--text-secondary);
}

.infoIconWrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

/* Form field */
.formGroup {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* Form label */
.label {
  font-size: 1rem;
  color: var(--text-primary);
}

/* Form input */
.input {
  width: 100%;
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  color: var(--text-primary);
  background-color: var(--bg-color);
  border: 1px solid var(--text-secondary);
}

.input:focus {
  border: 1px solid var(--text-primary);
}

.input::placeholder {
  color: var(--text-secondary);
}

/* Input error state */
.inputError {
  border: 1px solid hsl(0, 70%, 50%);
  background-color: hsla(0, 70%, 50%, 0.15);
}

.inputError:focus {
  border: 1px solid hsl(0, 70%, 50%);
}

/* Error message */
.errorMessage {
  gap: 0.25rem;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: hsl(0, 70%, 50%);
}

.errorIcon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  color: hsl(0, 70%, 50%);
}

/* Forgot password link */
.forgotPasswordLink {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.forgotPasswordLink:hover {
  color: var(--text-primary);
}

/* Password requirements */
.passwordRequirements {
  gap: 0.5rem;
  display: flex;
  margin-top: 0.25rem;
  flex-direction: column;
}

.requirement {
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: var(--text-secondary);
}

.xIcon {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  color: hsl(0, 70%, 50%);
}

.checkIcon {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  color: hsl(120, 50%, 50%);
}

/* Tablet responsiveness */
@media (max-width: 768px) {}

/* Mobile responsiveness */
@media (max-width: 480px) {}
