.clothingContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 75vh;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Tablet responsiveness */
@media (max-width: 768px) {}

/* Mobile responsiveness */
@media (max-width: 480px) {}
